<h1>Admin</h1>

<p>Admin tools here. Maybe later add login.</p>


<p><button type="button" class="btn btn-success" (click)="makeCar()"><i class="fa fa-car"></i> Generate car</button></p>



<h2>Cars</h2>


<div class="container row">

  <div *ngFor="let car of cars" class="col-20" [attr.id]="'Car'+car.id">
    <div class="dropdown">
      <button type="button" class="btn btn-light" id="id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font color="{{car.colour}}"><i class="fa fa-car"></i></font></button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p class="dropdown-item"><button type="button" class="btn btn-danger" (click)="deleteCar(car.id)"><i class="fa fa-trash"></i> Delete</button> <span class="badge badge-primary badge-pill">{{car.id}}</span></p>


          <p class="dropdown-item"><i class="fa fa-car"></i> <input [(ngModel)]="car.licensePlate" placeholder="Plate" /></p>
          <p class="dropdown-item"><i class="fa fa-paint-brush"></i> <input type="color" [(ngModel)]="car.colour" placeholder="Colour" /></p>
          <p class="dropdown-item"><i class="fa fa-map"></i> <input [(ngModel)]="car.parkingLot.id" placeholder="Parking lot" /></p>
          <p class="dropdown-item"><button type="button" class="btn btn-success" (click)="updateCar(car.id, car.licensePlate, car.colour, car.parkingLot.id)"><i class="fa fa-save"></i> Save changes</button></p>

      </div>
    </div>

  </div>

</div>
