<h1>Admin</h1>

<p>Admin tools here. Maybe later add login.</p>


<!-- CARS -->


<p>
  <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#showCars" aria-expanded="false" aria-controls="showCars">
    <i class="fa fa-car"></i> Show cars
  </button>
  <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#showParkinglots" aria-expanded="false" aria-controls="showParkinglots">
    <i class="fa fa-map"></i> Show parking lots
  </button>
</p>
<div class="collapse" id="showCars">
  <div class="card card-body">




    <div class="container">
      <h3>Cars</h3>
      <hr>
      <div class="row">
        <div class="col-sm">
          <strong><i class="fa fa-info"></i> ID</strong>
        </div>
        <div class="col-sm">
          <strong><i class="fa fa-car"></i> License Plate</strong>
        </div>
        <div class="col-sm">
          <strong><i class="fa fa-paint-brush"></i> Colour</strong>
        </div>
        <div class="col-sm">
          <strong><i class="fa fa-map"></i> Parked in</strong>
        </div>
        <div class="col-sm">
          <strong><i class="fa fa-gear"></i> <button type="button" class="btn btn-success" (click)="makeCar()"><i class="fa fa-car"></i> <strong>+</strong></button></strong>
        </div>
      </div>

      <hr>

      <div class="row" *ngFor="let car of cars" [attr.id]="'Car'+car.id">
        <div class="col-sm">
          {{car.id}}
        </div>
        <div class="col-sm">
          <input type="text"  maxlength="8" [(ngModel)]="car.licensePlate" placeholder="licensePlate" />
        </div>
        <div class="col-sm">
          <input type="color" [(ngModel)]="car.colour" placeholder="colour" />
        </div>
        <div class="col-sm">
          <select [(ngModel)]="car.parkingLot.id"><option *ngFor="let parkinglot of parkinglots" [ngValue]="parkinglot.id">{{parkinglot.location}}</option></select>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-danger" (click)="deleteCar(car.id)"><i class="fa fa-trash"></i></button>
          <button type="button" class="btn btn-success" (click)="updateCar(car.id, car.licensePlate, car.colour, car.parkingLot.id)"><i class="fa fa-save"></i></button>
        </div>
      </div>



    </div>



  </div>
</div>


<!-- PARKING LOTS -->
<br>

<div class="collapse" id="showParkinglots">
  <div class="card card-body">



    <div class="container">
      <h3>Parking Lots</h3>
      <hr>
      <div class="row">
          <div class="col-sm-2">
            <strong><i class="fa fa-info"></i> ID</strong>
          </div>
          <div class="col-sm-2">
            <strong><i class="fa fa-map"></i> Location</strong>
          </div>
          <div class="col-sm-2">
            <strong><i class="fa fa-car"></i> Capacity</strong>
          </div>
          <div class="col-sm-2">
            <strong><i class="fa fa-car"></i> Occupancy</strong>
          </div>
          <div class="col-sm-2">
            <strong><i class="fa fa-money"></i> Parking Cost</strong>
          </div>
          <div class="col-sm-2">
            <strong><i class="fa fa-gear"></i></strong>
          </div>
      </div>

      <hr>

      <div class="row" *ngFor="let parkinglot of parkinglots" >
        <div class="col-sm-2">
          {{parkinglot.id}}
        </div>
        <div class="col-sm-2">
          <input type="text" size="8" [(ngModel)]="parkinglot.location" />
        </div>
        <div class="col-sm-2">
          <input type="number" size="8" min="0" step="10" [(ngModel)]="parkinglot.capacity" />
        </div>
        <div class="col-sm-2">
          {{parkinglot.cars.length}} cars parked
        </div>
        <div class="col-sm-2">
          <input type="number" size="6" min="0" max="10" step="0.01" [(ngModel)]="parkinglot.parkingCost" />
        </div>
        <div class="col-sm-2">
          <button *ngIf="validateDeleteParkinglot(parkinglot.id,parkinglot.cars.length)" type="button" class="btn btn-danger" (click)="deleteParkinglot(parkinglot.id)"><i class="fa fa-trash"></i></button>
          <button *ngIf="parkinglot.id!=0" type="button" class="btn btn-success" (click)="makeParkinglot(parkinglot.id, parkinglot.location, parkinglot.capacity, parkinglot.parkingCost)"><i class="fa fa-save"></i></button>
        </div>
      </div>

      <hr>

      <div class="row">
          <div class="col-sm-2">
            <input type="number" size="4" min="1" step="1" [(ngModel)]="lotId" placeholder="1" />
          </div>
          <div class="col-sm-2">
            <input type="text" size="8" [(ngModel)]="lotLocation" placeholder="Location"/>
          </div>
          <div class="col-sm-2">
            <input type="number" size="8" min="0" step="10" [(ngModel)]="lotCapacity" placeholder="0"  />
          </div>
          <div class="col-sm-2">
            No cars yet
          </div>
          <div class="col-sm-2">
            <input type="number" size="6" min="0" max="10" step="0.01" [(ngModel)]="lotParkingcost" placeholder="0.01" />
          </div>
          <div class="col-sm-2">
            <button *ngIf="!existsParkinglot(lotId)" type="button" class="btn btn-success" (click)="makeParkinglot(lotId, lotLocation, lotCapacity, lotParkingcost)"><i class="fa fa-map"></i><strong>+</strong></button>
          </div>
      </div>

    </div>


  </div>
</div>

<br>
