<h1>Add a car to the database</h1>
<h3>This will become a form to add cars to the database</h3>
<p>In the form you can declare the car's license-plate and colour.</p>
<form>
    <table ng-init="loadParking()">
        <tr>
            <th>License plate</th>
            <th>Colour</th>
        </tr>
        <tr>
            <td><input type="text" ng-model="car.licensePlate" id="licensePlate"></td>
            <td><input type="color" ng-model="car.colour" id="colour"></td>
            <td>
                <select>
                    <option ng-repeat="parkinglot in parkinglots" value="{{parkingLot}}">
                        {{parkinglot.id}} - {{parkinglot.location}}
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit" ng-click="save()" ng-model-instant>Add Car</button>
</form>

<p>{{msg}}</p>