<h1>Simulation</h1>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="alert alert-success container-fluid" role="alert">
        <i class="fa fa-money"></i> $0.00
      </div>
    </div>
    <div class="col-sm">
      <div class="alert alert-primary container-fluid" role="alert">
        <i class="fa fa-map"></i> 1 parking lot
      </div>
    </div>
    <div class="col-sm">
      <div class="alert alert-warning container-fluid" role="alert">
        <i class="fa fa-car"></i> 1 car waiting
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Cashflow: $0.00 per hour
    </div>
    <div class="col-sm">
      Buy parking lot!
    </div>
    <div class="col-sm">
      Park car!
    </div>
  </div>
</div>


<br>
<p>Things to add:
Cash, cost to park
Parking lots
Cars waiting to park
Buy lots
</p>
