<h1>Simulation <button *ngIf="!started" type="button" class="btn btn-success" (click)="start()"><i class="fa fa-play"></i> START</button> <button *ngIf="started" type="button" class="btn btn-danger" (click)="stop()"><i class="fa fa-stop"></i> STOP</button>
</h1>


<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="alert alert-info container-fluid" role="alert">
        <i class="fa fa-clock-o"></i> {{(hour<10)? 0 : ''}}{{hour}}:00 <i class="fa fa-calendar"></i> {{day}}
      </div>
    </div>
    <div class="col-sm">
      <div class="alert alert-success container-fluid" role="alert">
        <i class="fa fa-money"></i> ${{cash.toFixed(2)}}
      </div>
    </div>
    <div class="col-sm">
      <div class="alert alert-primary container-fluid" role="alert">
        <i class="fa fa-map"></i> {{parkinglots!=null ? parkinglots.length : ''}} parking lots
      </div>
    </div>
    <div class="col-sm">
      <div class="alert alert-warning container-fluid" role="alert">
        <i class="fa fa-car"></i> {{waitingCars}} cars waiting
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Simulating hours, days
    </div>
    <div class="col-sm">
      Cashflow: ${{cashflow.toFixed(2)}}/hour
    </div>
    <div class="col-sm">


      <div *ngFor="let parkinglot of simulatedParkinglots">

        <a *ngIf="parkinglot.id!=0" class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample{{parkinglot.id}}" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-map"></i> {{parkinglot.location}} - ({{parkinglot.freeSpace}}/{{parkinglot.capacity}}) - ${{parkinglot.parkingCost.toFixed(2)}}/hour
        </a>
        <div class="collapse" id="collapseExample{{parkinglot.id}}">
          <div class="card card-body">

            <div class="row">
              <div *ngFor="let car of simulatedCars" [attr.id]="'Car'+car.id">
                  <button *ngIf="car.parkingLot.id == parkinglot.id" type="button" class="btn btn-light btn-sm"><font color="{{car.colour}}"><i class="fa fa-car"></i></font></button>



                  <!-- <div class="dropdown">
                    <button *ngIf="car.parkingLot.id == parkinglot.id" type="button" class="btn btn-light btn-sm" id="id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font color="{{car.colour}}"><i class="fa fa-car"></i></font></button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <p class="dropdown-item"><i class="fa fa-info"></i> ID: {{car.id}}</p>
                      <p class="dropdown-item"><i class="fa fa-car"></i> License plate: {{car.licensePlate}}</p>
                      <p class="dropdown-item"><i class="fa fa-paint-brush"></i> Colour: {{car.colour}}</p>
                      <p class="dropdown-item"><i class="fa fa-clock-o"></i> Time parked: {{car.timeParked}}</p>
                    </div>
                  </div> -->


              </div>
            </div>

          </div>
        </div>

      </div>




    </div>

    <div class="col-sm">


      <div class="row">
        <div *ngFor="let car of simulatedCars" [attr.id]="'Car'+car.id">
            <button *ngIf="car.parkingLot.id == 0" type="button" class="btn btn-light btn-sm"><font color="{{car.colour}}"><i class="fa fa-car"></i></font></button>

            <!-- <div class="dropdown">
              <button *ngIf="car.parkingLot.id == 0" type="button" class="btn btn-light btn-sm" id="id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font color="{{car.colour}}"><i class="fa fa-car"></i></font></button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <p class="dropdown-item"><i class="fa fa-info"></i> ID: {{car.id}}</p>
                <p class="dropdown-item"><i class="fa fa-car"></i> License plate: {{car.licensePlate}}</p>
                <p class="dropdown-item"><i class="fa fa-paint-brush"></i> Colour: {{car.colour}}</p>
              </div>
            </div> -->

        </div>
      </div>


    </div>
  </div>
</div>



<!-- <h1>TODO Stuff</h1>


<br>
<p>
  Auto's moeten rekening houden met het aantal vrije parkeerplekken. Gewoon niet parkeren als die vol zit?<br>
  Cookies om te huidige simulatie staat op te slaan en te laden.
</p> -->
