<h1>Parking Lots</h1>

<p>The following is a work-in-progress map of a parking lot. The idea being that you can click on a car to view its details. Separate these into different lots.</p>

<p>Change this to cars in parking lot</p>

<div class="container row w-50 p-3">
  <div *ngFor="let car of cars" class="col-20">

    <button type="button" class="btn btn-light"><font color="{{car.colour}}"><i class="fa fa-car"></i></font></button>


  </div>
</div>





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
