<h1>Parking Lots</h1>


<p>Work in progress overview of all parking lots.</p>



<div class="row card-group">
  <div *ngFor="let parkinglot of parkinglots" class="col-3">
    <div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header"><i class="fa fa-map"></i> Parking Lot {{parkinglot.id}}</div>
      <div class="card-body">
        <h4 class="card-title">{{parkinglot.location}}</h4>

        <p class="card-text">

          {{parkinglot.freeSpace}}/{{parkinglot.capacity}}
          <br>
          Cost: ${{parkinglot.parkingCost}}

          <br><br>
          <button type="button" class="btn btn-dark" (click)="gotoDetail(parkinglot.id)"><i class="fa fa-info"></i> Details</button>

        </p>


      </div>
    </div>
  </div>
</div>
