<h1>Cars</h1>

<div class="row card-group">
  <div *ngFor="let car of cars" class="col-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header"><font color="{{car.colour}}"><i class="fa fa-car"></i></font> Car {{car.id}}</div>
      <div class="card-body">
        <h4 class="card-title">{{car.licensePlate}}</h4>
        <p class="card-text">Some info on the car. The color of this car is {{car.colour}}.</p>
      </div>
    </div>
  </div>
</div>
